@font-face {
    font-family: iransans;
    src: url('../fonts/iransans/IRANSansWeb.eot');
    src: url('../fonts/iransans/IRANSansWeb.eot?#iefix') format('embedded-opentype'),
        url('../fonts/iransans/IRANSansWeb.woff2') format('woff2'),
        url('../fonts/iransans/IRANSansWeb.woff') format('woff'),
        url('../fonts/iransans/IRANSansWeb.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
img {
    max-width: 100%;
    display: block;
}
body{
    font-family: iransans;
    font-size: 15px;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
    direction: rtl;
    background-color: #e6e5e6;
}
#todolist-ul{
    position: relative;
    width: 100%;
}
#todolist-ul li {
    padding: 10px 5px;
    list-style: none;
    border-bottom:1px solid #dee2e6;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
#todolist-ul li i {
    cursor: pointer;
    padding: 8px;
}
#todolist-ul li .title-todo{
    width: 100%;
    text-align: right;
    display: flex;
    justify-content: start;
    align-items: center;
    cursor: pointer;
    font-size: 1.3rem;
}
.text-todo-list{
    font-size: 1.2rem;
}
.text-todo-list.done-span {
    text-decoration: line-through;
    color: #8e8e8e;
}
.color-green{
    color:#8ed21c;
}
#todolist-ul li .title-todo i{
    margin-left: 15px;
    padding: 8px;
}
#todolist-ul li span.icon {
    width: 16%;
    text-align: left;
    display: inline-block;
    cursor: pointer;
}
.card-todo {
    width: 100%;
    margin: 1em 0;
    background: #fff;
    overflow: hidden;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    -webkit-box-shadow: 0px 2px 9px -1px rgba(0, 0, 0, 0.42);
    -moz-box-shadow: 0px 2px 9px -1px rgba(0, 0, 0, 0.42);
    box-shadow: 0px 2px 9px -1px rgba(0, 0, 0, 0.42);
}
.heading-todo-card{
    display: flex;
    flex-flow: wrap;
    justify-content: end;
    align-items: flex-end;
    position: relative;
    width: 100%;
    min-height: 180px;
    background-image: url("../image/flat-bg.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-box-shadow: inset 0px -32px 21px -8px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: inset 0px -32px 21px -8px rgba(0, 0, 0, 0.5);
    box-shadow: inset 0px -32px 21px -8px rgba(0, 0, 0, 0.5);
}
.btn-reload {
    width: 40px;
    height: 40px;
    /* background-color: red; */
    background: transparent;
    position: absolute;
    top: 10%;
    left: 8%;
    cursor: pointer;
    padding: .2em;
    border: 0;
    transition: all .4s;
}
.btn-reload:focus{
    outline: 0;
}
.btn-reload i{
    font-size: 2rem;
    color: #fff;
    text-shadow: 3px 2px 4px #020305;
}
.btn-reload:hover {
    transform: rotate(180deg);
}
.todo-container {
    width: 100%;
    padding: 2em 0;
    max-height: 25em;
    overflow-y: scroll;
}
.todo-container::-webkit-scrollbar {
    width: 5px;
}
.todo-container::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgba(211, 211, 211, 0.199);
    border-radius: 10px;
}

/* Handle */
.todo-container::-webkit-scrollbar-thumb {
    background: rgb(92, 92, 92);
    border-radius: 10px;
}
.todo-date {
    font-size: 1.2rem;
    color: #fff;
    padding: 1em;
}
ul#todolist-ul {
    min-height: 250px;
    width: 100%;
}
#todolist-ul li{
    padding: 5px 2.2em;
    list-style: none;
    border-bottom: 1px solid #dee2e6;
}
#todolist-ul li:last-child{
    border-bottom: 0
}
.todo-group {
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 0em .3em;
    border-top: 1px solid #e9e9e9;
}
.form-control-todo{
        display: block;
        width: 85%;
        height: calc(3.2rem + 2px);
        padding: .375rem .75rem;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: #495057;
        background-color: #fff;
        background-clip: padding-box;
        border: 0;
        transition: border-color .15s ease-in-out,
        box-shadow .15s ease-in-out;
}
.form-control-todo:focus{
    outline: 0;
}
.btn-todo {
    font-size: 1.8em;
    background: transparent;
    padding: 0 12px;
    border: 0;
    color: #1575ff;
    cursor: pointer;
    transition: all .5s;
}
.btn-todo:hover{
    color: #0764eb;
}
.btn-todo:focus{
    outline: 0;
}
@media screen and (max-width:520px){
    ul#todolist-ul {
        min-height: 15em;
    }
    .todo-container{
        min-height: 60vh;
    }
}
@media screen and (max-width:768px){
    .form-control-todo {
        width: 80%;
    }
}
@media screen and (min-width:920px) {
    .form-control-todo {
        width: 85%;
    }
}